.blog-post {
  overflow: hidden;

  .title {
    color: black;
    font-size: 1.5rem;

    .type {
      background-color: $theme-light-blue;
      border-radius: 8px;
      font-size: 0.25rem;
      height: 1rem;
      margin-left: 5px;
      padding: 0.2rem 0.5rem;
      white-space: nowrap;
    }
  }

  .tag {
    margin-right: 0.5rem;
    font-size: 0.5rem;
  }

  .date {
    color: black;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
  }

  .post-md {
    p {
      margin: 1rem 0;
    }

    pre {
      background-color: #dedede;
      border-radius: 4px;
      color: #c7254e;
      font-family: monospace, monospace;
      overflow-x: auto;
      padding: 1px 4px;
    }

    code {
      background-color: #dedede;
      border-radius: 4px;
      color: #c7254e;
      font-family: monospace, monospace;
      padding: 1px 4px;
    }
  }

  .copy-right {
    font-size: 0.75rem;
    text-align: center;
  }

  .reward {
    color: $theme-dark-blue;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
}
