.blog-post {
  flex: 1;
  padding: 0 1.5rem 1rem;

  .blog-post-content {
    margin: 0 auto;
    max-width: 768px;
    text-align: center;

    @media screen and (max-width: $device-width) {
      text-align: left;
    }

    p {
      margin: 1rem 0;
    }

    img {
      max-width: 640px;
      width: 100%;
    }

    pre {
      background-color: #eee;
      border-radius: 4px;
      color: #c7254e;
      font-family: monospace, Arial, Helvetica, sans-serif;
      overflow-x: auto;
      padding: 1px 6px 4px;
      text-align: left;
    }

    code {
      background-color: #eee;
      border-radius: 4px;
      color: #c7254e;
      font-family: monospace, Arial, Helvetica, sans-serif;
      padding: 1px 6px 4px;
    }

    ol {
      padding-left: 1rem;
    }
  }

  .copy-right {
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
  }

  .reward {
    color: $theme-dark-blue;
    font-style: italic;
    font-weight: bold;
    line-height: 3rem;
    text-align: center;
  }
}
