@import "flex.css";

html,
body {
    background-color: linen;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: rgba(255, 255, 255, 1);
    height: 78px;
    min-width: 768px;
    transition: all .3s ease-out;
    width: 100%;
}

header > .nav-group {
    min-width: 480px;
    width: 75%;
}

.nav-group > nav {
    height: 100%;
    margin-left: 25px;
    width: 80px;
}

header > .lang {
    background-color: lime;
    flex-shrink: 0;
}