@import "flex.css";
html,
body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    margin-right: 10px;
}

.square {
    animation: rotate 1s infinite;
    -webkit-animation: rotate 1s infinite;
    background-color: lightblue;
    border-radius: 5px;
    height: 15px;
    margin-right: 5px;
    width: 15px;
}

.second-square {
    animation-delay: 0.2s;
}

.third-square {
    animation-delay: 0.4s;
}


@keyframes rotate
{
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}