.blogs {
  flex: 1;
  padding: 0 1.5rem 1rem;

  .count {
    margin-bottom: 0;
  }

  .blog {
    border-radius: 5px;
    display: block;
    padding: 1rem 0.5rem;
    position: relative;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;

    &:hover {
      background-color: #eee;
    }
  }
}
