.home-container {
  @include flex-center;
  flex-direction: column;
  flex-grow: 1;

  .homeAvatar {
    border-radius: 50%;
    box-shadow: 2px 2px 10px $theme-dark-grey;
    height: 6rem;
    margin-bottom: 2rem;
    position: relative;
    width: 6rem;

    .avatar {
      border-radius: 50%;
      width: 100%;
    }

    .flag {
      border-radius: 50%;
      box-shadow: 2px 2px 10px $theme-dark-grey;
      height: 1.25rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.25rem;
    }
  }

  h2,
  h4 {
    color: $theme-dark-blue;
    margin: 0;
    text-align: center;
  }

  .name {
    margin-bottom: 1rem;
  }

  .job {
    text-align: center;
  }

  .thankWord {
    color: $theme-light-grey;
    font-size: 1rem;
    margin: 2rem 0;
  }

  .disclaimer {
    bottom: 0.5rem;
    color: $theme-light-grey;
    font-size: 0.5rem;
    position: absolute;
  }
}
