.music-container {
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;

  .eband {
    margin: 2rem;
    text-align: center;

    .eband-img {
      width: 100%;
    }

    .eband-name {
      font-size: 4rem;
      font-weight: bold;
      line-height: 4rem;
      margin-bottom: 1rem;

      @media only screen and (max-width: 600px) {
        text-align: left;
      }
    }

    .pop {
      color: $theme-blue;
    }

    .jazz {
      color: $theme-dark-blue;
    }

    .eband-member-row {
      display: flex;
      font-size: 1rem;
      line-height: 2rem;
    }

    .instrument {
      color: $theme-blue;
      display: inline-block;
      flex: 1;
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: 0.25rem;
      text-align: right;
    }

    .member {
      display: inline-block;
      flex: 1;
      font-size: 1rem;
      margin-left: 0.25rem;
      text-align: left;
    }
  }

  .self {
    .motto {
      font-size: 4rem;
      font-weight: bold;
      line-height: 4rem;
    }
  }
}
