.blog-header {
  .title {
    color: #000;
    display: inline;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .tag-icon {
    height: 0.75rem;
    margin-right: 4px;
  }

  .tag {
    color: $theme-dark-grey;
    font-size: 0.5rem;
    margin-right: 0.5rem;
  }

  .date {
    color: #000;
    font-size: 1rem;

    .type {
      color: $theme-blue;
      font-size: 0.8rem;
      font-weight: bold;
      margin-right: 8px;
    }
  }
}
