.eband {
  &.desktop {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;

    .eband-name {
      font-size: 4rem;
      font-weight: bold;
      line-height: 3rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    .eband-member-row {
      display: flex;
      font-size: 1rem;
      line-height: 2rem;
    }

    .instrument {
      color: $theme-blue;
      display: inline-block;
      flex: 1;
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: 0.25rem;
      text-align: right;
    }

    .member {
      display: inline-block;
      flex: 1;
      font-size: 1rem;
      margin-left: 0.25rem;
      text-align: left;
    }
  }
}
