.slide {
  &.mobile {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4.5rem);
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;

    .post-title {
      font-size: 4rem;
      font-weight: bold;
      line-height: 4rem;
      text-align: left;

      &.right {
        text-align: right;
      }
    }

    .button-down {
      background-color: $theme-blue;
      border-radius: 50%;
      display: inline-block;
      height: 50px;
      margin: 0.5rem;
      padding: 5px;
      position: relative;
      width: 50px;

      &::after {
        animation: bling 1s linear infinite;
        border-left: 2px solid #fff;
        border-top: 2px solid #fff;
        content: '';
        display: block;
        height: 25px;
        left: 13px;
        position: absolute;
        top: 8px;
        width: 25px;
      }
    }

    .eband-member-row {
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: left;

      &.instrument {
        color: $theme-blue;
        font-size: 2rem;
      }
    }
  }

  .self-img {
    background-image: url('../../../static/images/self1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
  }

  .eband-img {
    background-image: url('../../../static/images/eband1.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
  }
}

@keyframes bling {
  0% {
    opacity: 1;
    transform: scale(0.75) rotate(225deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(1) rotate(225deg);
  }
  100% {
    opacity: 1;
    transform: scale(0.75) rotate(225deg);
  }
}
