.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 3rem;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  width: 100%;
  z-index: 1009;

  .link {
    background-image: none;
    color: $theme-dark-blue;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
    text-decoration: none;

    .highlighted {
      color: $theme-blue;
    }
  }
}
