.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 1rem;
  width: 100%;

  .link {
    background-image: none;
    color: #1b4965;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
    margin-right: 1rem;
    text-decoration: none;

    .highlighted {
      color: #5fa8d3;
    }
  }

  .language {
    float: right;
    height: 2rem;
  }
}
