.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.en {
    font-family: 'Khula';
  }

  &.zh {
    font-family: Microsoft YaHei;
  }

  nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    z-index: 1001;
  }

  .links-container {
    flex: 1;
  }

  .link {
    color: $theme-dark-blue;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
    text-decoration: none;
  }

  .active {
    color: $theme-blue;
  }

  .lang-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .lang {
    color: $theme-dark-blue;
    display: none;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
  }

  .ref-icon {
    height: 1.25rem;
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0 1.5rem 1rem;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $theme-green-blue;
      border-radius: 2px;
    }
  }
}
