<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AlexanderZhao · 赵梦哲</title>
    <link rel="icon" href="/view/img/avatar.png" type=" image/png">
    <link rel="stylesheet" href="/view/css/style.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
	<h1 class="text-info">Alexander Zhao的主页</h1>
	<div class="construct-text df frn ai-c jc-c">
		<h2 class="text-info">网站建设中</h1>
		<div class="square first-square"></div>
		<div class="square second-square"></div>
		<div class="square third-square"></div>
	</div>
</body>
</head>

</html>