<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AlexanderZhao · 赵梦哲</title>
    <link rel="icon" href="/view/img/avatar.png" type=" image/png">
    <link rel="stylesheet" href="/view/css/style.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <header class="frn">
        <div class="nav-group frn ai-c">
            <nav class="df ai-c jc-c">全屏浏览</nav>
            <nav class="df ai-c jc-c">View in English</nav>
        </div>
    </header>
    <section class="name-box df ai-c jc-c">
        <p>我是赵梦哲</p>
    </section>
    <section class="icon-start fcn ai-c jc-c">
        <p>向下开始</p>
        <svg height="50" width="50" viewBox="0 0 17 16" version="1.1" class="si-glyph si-glyph-arrow-thin-up">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M9.002,0.02 L15.695,6.325 C16.154,6.784 15.992,7.485 15.789,7.684 C15.387,8.086 14.791,8.026 14.387,7.623 L9.949,3.728 L9.947,15.042 C9.947,15.554 9.521,15.968 8.996,15.97 C8.471,15.97 8.045,15.554 8.045,15.042 L8.033,3.831 L3.762,7.685 C3.358,8.087 2.703,8.087 2.301,7.685 C1.897,7.285 1.998,6.736 2.403,6.333 L9.002,0.02 L9.002,0.02 Z"
                    fill="#FFFFFF" class="si-glyph-fill"></path>
            </g>
        </svg>
    </section>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

</html>