@import './components/Banner/style.less';

.wrapped-banner-container {
  display: flex;
  flex: 1;
  flex-direction: row;

  .banner-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    max-width: 180px;
    min-width: 120px;
    transition: 0.2s;
    -webkit-transition: 0.2s;

    &.collapsed {
      max-width: 2.5rem;
      min-width: 0;
      transition: 0.2s;
      -webkit-transition: 0.2s;
    }
  }

  .content-wrapper {
    display: flex;
    flex: 4;
    flex-direction: column;
    position: relative;
  }
}