.home-container {
  background-image: url(../../../assets/backgrounds/bg-2-1.jpg);
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;

  .content {
    flex: 1;
    overflow-y: hidden;
    padding: 1.5rem;

    .keywords {
      animation: fade-left-in .5s ease-out forwards;
      color: white;
      font-family: 'code_bold';
      opacity: 0;
      list-style-type: none;
      transform: translateX(-20rem);

      @media @desktop {
        font-size: 5rem;
      }
      @media @mobile {
        font-size: 2.5rem;
      }
    }
  }
}
