.home-container {
  background-image: url(../../../assets/backgrounds/bg.jpg);
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;

  .content {
    flex: 1;
    overflow-y: scroll;
  }
}
